/*==============================
  Home Page
==============================*/
@media screen and (max-width: 640px) {
  .homepage .Mobile-bar {
    background-color: #1f1f1f;
  }
  .homepage .Mobile-bar .Mobile-bar-menu {
    stroke: #ffffff;
  }
}
@media screen and (min-width: 960px) {
  .homepage .Index-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-top: 0 !important;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.homepage .Footer {
  display: none;
}

/*============================
  Mobile Header
=============================*/
@media screen and (max-width: 640px) {
  .Mobile-bar-branding {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 40px;
  }
  .Mobile-bar-branding img {
    display: none;
  }
  .Mobile-bar-branding:after {
    content: '';
    position: absolute;
    background-image: url("https://static1.squarespace.com/static/5c0d2fc1cef372ba72f016a9/5c1b80da0e2e729c83594597/5c1b80e721c67cd7830bd0db/1545306346251/DPC+leaf.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    top: 0;
  }
}
/*==============================
  FOOTER
==============================*/
.Footer-blocks--bottom {
  display: none;
}

.Footer-middle h1 {
  color: #fff;
  font-size: 24px;
}

.Footer .Footer-inner .Footer-middle {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row !important;
}
@media screen and (min-width: 1280px) {
  .Footer .Footer-inner .Footer-middle {
    padding: 0 70px;
  }
}
.Footer .Footer-inner .Footer-middle .Footer-blocks.Footer-blocks--middle {
  flex: 1 1 90%;
}
@media screen and (max-width: 1280px) {
  .Footer .Footer-inner .Footer-middle .sqs-row {
    display: flex;
    flex-wrap: wrap;
  }
  .Footer .Footer-inner .Footer-middle .sqs-row .col {
    flex-basis: 100%;
  }
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col {
  /* Logo */
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) {
  /* Social Column */
}
@media screen and (max-width: 1280px) {
  .Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) {
    order: 1;
  }
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) p {
  margin-bottom: 9px;
  margin-left: 17px;
  font-family: "Fjalla One";
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) h1 {
  margin: 0;
  line-height: 32px;
  margin-left: 27px;
  font-size: 24px;
  font-family: "Libre Franklin";
  font-weight: 300;
  color: white;
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .button-block {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 40px;
  margin-left: 27px;
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .button-block a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 50px;
}
@media screen and (max-width: 1280px) {
  .Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .html-block,
  .Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .button-block {
    display: none;
  }
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .gallery-block {
  margin-left: 27px;
}
@media screen and (min-width: 1280px) {
  .Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .gallery-block .sqs-gallery {
    text-align: left;
  }
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .gallery-block .sqs-gallery-design-grid-slide {
  min-width: 30px;
  max-width: 54px;
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .gallery-block .sqs-gallery-design-grid-slide .margin-wrapper {
  margin-right: 8px !important;
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .gallery-block .sqs-gallery-design-grid-slide .thumb-image {
  width: 100% !important;
  height: auto !important;
}
@media screen and (max-width: 640px) {
  .Footer .Footer-inner .Footer-middle .sqs-row > .col:nth-child(2) .gallery-block .sqs-gallery-design-grid-slide {
    width: 20% !important;
  }
}
@media screen and (max-width: 1280px) {
  .Footer .Footer-inner .Footer-middle .sqs-row > .col .image-block {
    padding-top: 0 !important;
    padding-bottom: 5px !important;
  }
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col .image-block .intrinsic {
  max-width: 100px !important;
}
@media screen and (max-width: 960px) {
  .Footer .Footer-inner .Footer-middle .sqs-row > .col .image-block .intrinsic {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
@media screen and (min-width: 1280px) {
  .Footer .Footer-inner .Footer-middle .sqs-row > .col .image-block .intrinsic {
    max-width: 200px !important;
  }
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col .image-block .intrinsic img {
  filter: grayscale(100%);
  opacity: 0.5;
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:last-child {
  /* Newsletter */
}
@media screen and (max-width: 1280px) {
  .Footer .Footer-inner .Footer-middle .sqs-row > .col:last-child {
    display: none;
  }
}
.Footer .Footer-inner .Footer-middle .sqs-row > .col:last-child > div {
  margin-left: 20px;
  font-size: 14px;
}

@media screen and (min-width: 1280px) {
  .Footer-nav {
    position: absolute;
    z-index: 1;
  }
}
.Footer-nav-item {
  line-height: 27px;
}
.Footer-nav-item p {
  font-size: 14px;
}

/*============================
 * BLOG
=============================*/
.summary-block-collection-type-blog .summary-read-more-link,
.summary-block-collection-type-blog .summary-metadata--secondary {
  color: #0fff4f;
}

/*============================
 * Archive
=============================*/
.archive-block .archive-group-name-link {
  color: #0fff4f;
}

/*============================
* COMMENTS
=============================*/
.squarespace-comments .new-comment-area,
.squarespace-comments .input form.comment-form textarea {
  background-color: transparent;
}
.squarespace-comments .new-comment-area .input,
.squarespace-comments .comment-btn-wrapper {
  border-color: #0fff4f;
}
.squarespace-comments .comment-btn {
  background: transparent;
  border: 1px solid #0fff4f;
  color: #0fff4f;
}
